
.link_contacto,
.link_contacto:hover,
.link_contacto:focus,
.link_contacto:active {
    color: white;
    text-decoration: underline;
}

.links_pie,
.links_pie:hover,
.links_pie:focus,
.links_pie:active {
    color: white;
    text-decoration: none;
}
